{{outlet}}

{{log model}}
{{pie-chart data=model options=options}}
<h1 class="center">
  <center><em> The influence of Hilary Supporters vs
    Trump Supporters vs Harambe on Twitter"</em></center>
    <br><center> (ﾉ＾◡＾)ﾉ︵﻿ ┻━┻
</center></h1>
<!-- {{#each model as |tweeter|}}

  <br>{{tweeter.friends_count}}
{{/each}} -->
